{% extends "base.html" %}

{% load escape_url %}
{% block title %}About SHIRPI{%endblock%}
{% block content %}
<h1>About SHIRPI</h1><br />
<p>SHIRPI was created by Kyle Ivey and Nathan Magnus as a term project for CS215 at the University of Regina</p>
<p>The goal of this project was to improve upon a the Government of Saskatchewan Ministry of Health's website by adding important functionality that it lacked as well as a community aspect. This data presented is publically available in its original form at http://orii.health.gov.sk.ca/.</p><br /></br>
<h2>Admin Contact</h2><br />
<p>If you have any issues, please contact one of the following administrators:</p><br />
	<div class='admin_info'>
		<h3 class='name'>Kyle Ivey</h3>
	</div>
	<div class='admin_info'>
		<h3 class='name'>Nathan Magnus</h3>
	</div>
	<br /><br />
<h2 class='api_documentation'>API</h2><br />
<h3>Available at basementbobs.com/cs215/api works identical to browse add &display=full to see reports</h3><br /><br />
<h3>Legal Information</h3><br />
<p>All the information on this website is publically available courtesy of the Government of Saskatchewan's Ministry of Health.</p><br /><br />
{% endblock %}
