{% extends "base.html" %}
{% load restaurant_filters %}
{% load sort_filters %}
{% load search_filters %}
{% block title %}Browse Restaurants{% endblock %}
{% block bodytag %}
	<body onload="initialize()" onunload="GUnload()">
{% endblock %}
{% block content %}
{% if error %}
	<h1>{{error}}</h1>
{% endif %}
{% if restaurants %}
{% url project.SHIRPI.views.browse as browse_url %}
<form name="search_sort_field" method="get" id="search_sort_field">
	{{browse_url|display_search_field}}
	<input type="submit" name="Submit" value="Submit" id="search_sort_submit" />
</form>
	{{request|display_sort_field}}
	<div class='restaurants'>
	{% for restaurant in restaurants %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
{% endblock %}
