{% extends "base.html" %}
{% load escape_url %}
{% load restaurant_filters %}
{% load sort_filters %}
{% block title %}Browse Restaurants{% endblock %}
{% block bodytag %}
	<body onload="initialize()" onunload="GUnload()">
{% endblock %}
{% block content %}
{% if error %}
	<h1>{{error}}</h1>
{% endif %}

{% if restaurants %}

{{request|display_sort_options}}
<div class='restaurants'>
{% for restaurant in restaurants %}
	{% if restaurant.visible %}
		{{restaurant|display_restaurant}}
	{% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
