{% extends "base.html" %}
{% load escape_url %}
{% load restaurant_filters %}
{% load sort_filters %}
{% block title %}Browse Restaurants{% endblock %}
{% block bodytag %}
	<body onload="initialize()" onunload="GUnload()">
{% endblock %}
{% block content %}
{% if error %}
	<h1>{{ error }}</h1>
{% endif %}

{% if restaurants %}
{{ request|display_sort_options }}
<table class='restaurants'>
{% for restaurant in restaurants %}
    {% if restaurant.visible %}
    <tr class='restaurant {{ restaurant.get_hi_class }}'>
        <td class='name'><a href="/cs215/shirpi/view/{{ restaurant.name|encode_garbage }}/{{ restaurant.address|encode_garbage }}">{{ restaurant.name|escape }}</a></td>
        <td class='address'>{{ restaurant.address|escape }}</td>
        <td><ul class='starset'>{{ restaurant.get_scores.overall|display_stars }}</ul></td>
        <td>{{ restaurant.calculate_hi_status }}</td>
        <td>{{ restaurant.calculate_combined.|floatformat:1 }}</td>
        <td>{{ restaurant.calculate_food_quality|floatformat:1 }}</td>
        <td>{{ restaurant.calculate_cleanliness|floatformat:1 }}</td>
        <td>{{ restaurant.calculate_atmosphere|floatformat:1 }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>
{% endif %}
{% endblock %}
