{% extends "base.html" %}
{% block extrahead %}
{% load show_stars %}
<script type="text/javascript" src="/cs215/static/SHIRPI/prototype.js"></script>
<!--<script type="text/javascript" src="/cs215/static/SHIRPI/jquery.js"></script>-->
<script type="text/jabascript">
<!--
function myCallback(id, pos)
{
	var form = $('reviewForm');
	var cleanliness = form.cleanliness;
	cleanliness.value=pos;
}
</script>

{% show_stars_script %}
{% endblock %}
{% block content %}
{% if error %}
	<h1>{{error}}</h1>
{% endif %}
<h1>{{restaurant.name}} Page<h1>
<form id="reviewForm" name="reviewForm" method="POST" action="/cs215/shirpi/save/{{restaurant.name}}/{{restaurant.address}}/">
	{{ form.as_p}}
	{% show_stars 3.5 of 5 round to half on change call myCallback with 1%}
	<input type="submit" value="Submit Review" name="submit" />
</form>
{% endblock %}
