{% extends "base.html" %}
{% block extrahead %}
{% load show_stars %}
<script type="text/javascript" src="/cs215/static/SHIRPI/prototype.js"></script>
{% show_stars_script %}
<!--<script type="text/javascript" src="/cs215/static/SHIRPI/jquery.js"></script>-->
<script type="text/javascript">
<!--
function changeValues(id, pos)
{
	var form = $('reviewForm');
	var cleanliness = form.id_cleanliness;
	var food_quality = form.id_food_quality;
	var atmosphere = form.id_atmosphere;
	var wait_time = form.id_wait_time;
	if(id==1) {
		cleanliness.value=pos;
	}
	if(id==2) {
		food_quality.value = pos;
	}
	if(id==3) {
		atmosphere.value=pos;
	}
	if(id==4) {
		wait_time.value = pos;
	}
}
</script>

{% endblock %}
{% block content %}
{% if error %}
	<h1>{{error}}</h1>
{% endif %}
<h1>{{restaurant.name}} Page<h1>
<form id="reviewForm" name="reviewForm" method="POST" action="/cs215/shirpi/save/{{restaurant.name}}/{{restaurant.address}}/">
	{{ form.as_p}}
	Cleanliness: {% show_stars 0 of 5 round to half on change call changeValues with 1%}
	Food Quality: {% show_stars 0 of 5 round to half on change call changeValues with 2%}
	Atmosphere: {% show_stars 0 of 5 round to half on change call changeValues with 3%}
	Wait Time: {% show_stars 0 of 5 round to half on change call changeValues with 4%}
	<input type="submit" value="Submit Review" name="submit" />
</form>
{% endblock %}
