{% extends "base.html" %}
{% load show_stars %}
{% block title %}Edit Comment {{comment.id}}{% endblock %}
{% block extrahead %}
	{% show_stars_script %}
{% endblock %}
{% block content %}
{% if error %}
	<h1>{{error}}</h1>
{% else %}
	<form id="reviewForm" name="reviewForm" action="{% url project.SHIRPI.comment_views.save_edit comment.id|urlencode%}/" method="post">
	{{form.as_p}}
	Cleanliness: {% show_stars comment.cleanliness of 5 round to half on change call myCallback with 1%}
	Food Quality: {% show_stars comment.food_quality of 5 round to half on change call myCallback with 2%}
	Atmosphere: {% show_stars comment.atmosphere of 5 round to half on change call myCallback with 3%}
	Wait Time: {% show_stars comment.wait_time of 5 round to half on change call myCallback with 4%}
				 
	<input type="submit" name="save" value="Save" />
	</form>
{% endif %}
{% endblock %}
