{% extends "base.html" %}
{% load escape_url %}
{% load show_stars %}
{% block title %}Edit Comment {{comment.id}}{% endblock %}
{% block extrahead %}
	{% show_stars_script %}
{% endblock %}
{% block content %}
{% if error %}
	<h1>{{error}}</h1>
{% else %}
	<div id="view_comments">
	<div id="comment_submit_area">
		<form id="comment_form" name="reviewForm" action="{% url project.SHIRPI.comment_views.save_edit comment.id%}/" method="post">
		{{form.as_p}}
		<p>Cleanliness: {% show_stars comment.cleanliness of 5 round to half on change call myCallback with 1%}</p>
		<p>Food Quality: {% show_stars comment.food_quality of 5 round to half on change call myCallback with 2%}</p>
		<p>Atmosphere: {% show_stars comment.atmosphere of 5 round to half on change call myCallback with 3%}</p>
		<p>Overall: {% show_stars comment.overall of 5 round to half on change call myCallback with 4%}</p>
				 
		<p><input type="submit" name="save" value="Submit Changes" /></p>
		</form>
	</div>
	</div>
{% endif %}
{% endblock %}
