{% extends "base.html" %}
{% load restaurant_filters %}
{% block title %}Index{%endblock%}
{% block content %}

{% if Critical %}
	<div class='restaurants critical'>
	<h1>Critical</h1>
	{% for restaurant in Critical %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
<br />
{%if Moderate %}
	<div class='restaurants moderate'>
	<h1>Moderate</h1>
	{% for restaurant in Moderate %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
<br />
{% if Good %}
	<div class='restaurants good'>
	<h1>Good</h1>
	{% for restaurant in Good %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
<br />
{% endblock %}
