{% extends "base.html" %}
{% load restaurant_filters %}
{% block content %}

{% if Critical %}
	<div id='restaurants' class='critical'>
	<h1>Critical</h1>
	{% for restaurant in Critical %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
<br />
{%if Moderate %}
	<div id='restaurants' class='moderate'>
	<h1>Moderate</h1>
	{% for restaurant in Moderate %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
<br />
{% if Good %}
	<div id='restaurants' class='good'>
	<h1>Good</h1>
	{% for restaurant in Good %}
		{{restaurant|display_restaurant}}
	{% endfor %}
	</div>
{% endif %}
<br />
{% endblock %}
