{% extends "base.html"%}
{% block content %}
{% load favourite_filters %}
{% load restaurant_filters %}
{% load comment_filters %}
{% if error %}
	<h1>{{error}}</h1>
{% endif %}
{% if user_to_view %}
	<h1>{{user_to_view.username}}'s Profile</h1>
	{% ifequal user_to_view.username user.username %}
		{% if user.is_staff %}
			<h5><a href="/cs215/admin/">Admin Page</a></h5>
		{% endif %}
		{% ifnotequal favourites|length 0 %}
			<div id='restaurants' class='favourites'>
			<h1>Favourites</h1>
			{% for restaurant in favourites %}
			{{restaurant|display_favourite_edit}}
			{% endfor %}
		{% else %}
			<h2>No favourites</h2>
		{% endifnotequal %}
	{% else %}
		{{favourites|display_favourite_set:"favourites"}}
	{% endifequal %}
	{{comments|display_comment_set:user.username}}
{% endif %}

{% endblock %}
