{% extends "base.html" %}
{% load favourite_filters %}
{% block content %}

<div id='restaurants' class='favourites'>
{% ifequal user_to_view.username user.username %}
	{% ifnotequal favourites|length 0 %}
		<h1>Favourites</h1>
		<form name='edit_favourites' method='post' action='{%url project.SHIRPI.favourite_views.edit_favourites%}'>
		{% for favourite in favourites %}
			{{favourite|display_favourite_edit:favourites.count}}
		{% endfor %}
		<input type='submit' name='edit' value='Edit!' />
		</form>
	{% else %}
		<h2>No favourites</h2>
	{% endifnotequal %}
{% else %}
	{% ifnotequal favourites|length 0 %}
		{% for favourite in favourites %}
			<h1>Favourites</h1>
			{{favourite|display_favourite}}
		{% endfor %}
	{% else %}
		<h2>No favourites</h2>
	{% endifnotequal %}
{% endifequal %}
</div>
{% endblock %}
