{% extends "base.html"%}
{% block content %}
{% load favourite_filters %}
{% load restaurant_filters %}
{% load comment_filters %}
{% if error %}
	<h1>{{error}}</h1>
{% endif %}
{% if user_to_view %}
	<h1>{{user_to_view.username}}'s Profile</h1>
	{% ifequal user_to_view.username user.username %}
		{% if user.is_staff %}
			<h5><a href="/cs215/admin/">Admin Page</a></h5>
		{% endif %}
		{% ifnotequal favourites|length 0 %}
			<div class='restaurants favourites'>
			<h1>Favourites</h1>
			<form name='edit_favourite' method='post' action='/cs215/shirpi/edit_favourites/'>
			{% for restaurant in favourites %}
				{{restaurant|display_favourite_edit:favourites.count}}			
			{% endfor %}
			<input type='submit' name='edit' value='Edit!' />
			</form>
		{% else %}
			<h2>No favourites</h2>
		{% endifnotequal %}
	{% else %}
		<div class='restaurants favourites'>
		<h1>Favourites</h1>
		{% for favourite in favourites %}
			{{favourite|display_favourite}}
		{% endfor %}
		</div>
	{% endifequal %}
	<h1>{{user_to_view.username}}'s Comments</h1>
	<div id='comments'>
	{% for comment in comments %}
			<div class='comment'>
			<h3 class='name'>{{comment.restaurant.name}}</h3>
			<h3 class='address'>{{comment.restaurant.address}}</h3>
			{{comment|display_comment:user.username}}
			</div>
	{% endfor %}
	</div>
{% endif %}

{% endblock %}
