Those unaddressed are indicated by - in front
1. Scrape the Ministry of Health restaurant health inspection reports
2. Parse the health inspection reports and separate the important information
3. Store the health inspection reports in a database for quick access
-5. Provide an API for accessing the health inspection reports in a useful format
6. Score restaurants based upon reviews as well as health inspection report data and categorize them
7. Allow users to rate quality of the restaurant based upon a variety of criteria
8. Allow users to view other revies and ratings
9. Allow administrators to log in
10. Allow administrators to modify text reviews
11. Allow administrators to delete reviews and ratings
12. Allow administrators to manage user accounts
-13. Allow users to create and log into accounts
-14. Allow users to edit their account
15. Allow logged in users to edit their reviews
16. Allow registered users to create a list of favourite restaurants
17. Allow registered users to modify their list of favourite restaurants
18. Allow registered users to modify the order of their favourite restaurants
19. Provide users with restaurant addresses
20. Show restaurant locations on a map


Todo:
    Interface:
        - plenty here.
        
    Backend:
        - overhaul item models to allow for "brief descriptions", links to saskhealth documentation, etc.
        - escaping of resaraunt names to prevent injection and URL fudgery when saskhealth is hacked.
    
    API:
        - plenty here.
    
    Scraping:
        - Scrape multiple reports and convert to XML..
        - Automated execution and upload.
        
