<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load escape_url %}
{% load search_filters %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="http://basementbobs.com/cs215/static/SHIRPI/style.css" />
	<title>SHIRPI - {% block title %}{% endblock %}</title>
	{% block extrahead %} 
	<!-- default extra head information -->
	{% endblock %}
</head>
{% block bodytag %}
<body>
{% endblock %}
<div id="wrapper">
<div id="heading">
	<div id="user_actions">
	{% block userinfo %}
		{% if user.is_authenticated %}
			<a href="/cs215/shirpi/accounts/logout/">LOGOUT</a> <span class="divider">|</span>
			<a href="{% url project.SHIRPI.views.view_profile user.username %}">YOUR PROFILE</a>
			{% if user.is_staff %}
				<br /><br /><a href="/cs215/admin/">Admin</a>
			{% endif %}
			<div id="greeting">
				Authenticated as: {{ user.username }}
			</div>
		{% else %}
			<a href="/cs215/shirpi/accounts/login/">LOGIN</a> <span class="divider">|</span>
			<a href="/cs215/shirpi/accounts/register/">REGISTER</a>
		{% endif %}
	{% endblock %}
	</div>
</div>

<div id="navigation">
	{% block navbar %}
	<ul class="nav">
		<li><a href="/cs215/shirpi/">Home</a></li>
		<li><a href="/cs215/shirpi/about">About</a></li>
		<li><a href="/cs215/shirpi/browse">Browse All</a></li>

	</ul>
	<!-- Default Navbar -->
	<form method="get" id="search_sort_field" action="/cs215/shirpi/browse"
	   onsubmit="if (restaurant_name_field.value == 'Location Name') restaurant_name_field.value='';
	   if (restaurant_address_field.value == 'Street / Address') restaurant_address_field.value='';" >
		{{request|display_search_field}}
	</form>
	{% endblock %}
</div>
<div id="content">
	{% block content %}
	<!-- Default Content -->
	contentDefault
	{% endblock %}
	<div id="footer">
		{% block footer %}
		<!-- Default Footer -->
		<a href="http://validator.w3.org/check?uri=referer"><img
		src="http://www.w3.org/Icons/valid-xhtml10"
		alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
		{% endblock %}
	</div>
</div>
</div>
</body>
</html>
