@import url("reset.css");


html{
	height: 100%;
	width: 100%;
	
	font-family: arial, helvetica, sans-serif;
}

body{
	height: 100%;
	width: 100%;
	position: absolute;
	
	background-image: url('/cs215/static/SHIRPI/stripes.png');
}


#wrapper{
	margin: auto;
	width: 980px;
	
	background-color: white;
}

#content{
	clear: both;
	padding-top: 20px;
}


/* HEADING */

#heading{
	width: 100%;
	height: 186px;
	
	background-image: url('/cs215/static/SHIRPI/overhead.jpg');
}

#user_actions{
	
	height: 100%;
	float: right;
	position: relative;
	
	top: 20px;
	right: 20px;
	
	color: white;
	font-size: 12pt;
	text-align: right;
	
}

#user_actions span.divider{
	margin-left: 0.5em;
	margin-right: 0.5em;
	
	font-size: 16pt;
	
}

#user_actions a{
	color: white;
	text-decoration: none;
}

#user_actions a:hover{
	text-decoration: underline;
}

#greeting{
	position: relative;
	top: 85px;
}


/* NAVIGATION AND SEARCH */

#navigation{
	height: 47px;
	width: 100%;
	position: relative;
	
	
	background-image: url('/cs215/static/SHIRPI/navigation.jpg');
}

#navigation form{
	position: relative;
	float: left;
	
	padding: 10px 20px;
}

#navigation form textarea,
#navigation form input,
#navigation form button,
#navigation form select{
	
	color: #222;
	background-color: #dadada;
	border: 1px solid black;
	
	font-size: 14pt;
}

#restaurant_name_field{
	width: 190px;
}

#restaurant_address_field{
	width: 160px;
}


#navigation form select{
	position: relative;
	padding: 3px 0px;
	top:-1px;
	
	font-size: 11pt;	
}


#navigation ul{
	top: 15px;
	right: 20px;
	position: absolute;
}

#navigation ul li{
	display: inline;	
	list-style-type: none;
	padding-right: 20px;
}

#navigation li a{
	color: #222;
	
	font-size: 13pt;
	font-weight: bold;
}


/* BROWSE - SORT */

#sort{
	clear: both;
	
	padding-bottom: 7px;
	border-bottom: 1px black solid;
	
	font-size: 9pt;
}

#sort a{
	color: black;
	text-decoration: none;
}

#sort a:hover{
	text-decoration: underline;
}

#sort ul{
	margin-left: 10px;
}

#sort li{
	display: inline;
	list-style-type: none;
}


#name_clean{
	padding-right: 305px;
}

#address_clean:after{
	padding: 0 10px 0px 15px;
	content: '/';
}


#address{ margin-right: 120px;}
#overall {  padding-right: 44px; } /* Actually Member Rating */
#health_report_status{ margin-right: 20px;} /* Score */
#combined, #cleanliness{ margin-right: 15px; }
#food_quality { margin-right: 20px}


/* BROWSE - CONTENT LIST */

.restaurant {
	font-size: 11pt;
	border-bottom: 1px solid #222;
	padding: 7px 0px 7px 10px;
}

.restaurant a{
	text-decoration: none;
}

.restaurant a:hover{
	text-decoration: underline;
}

.restaurant .name{
	display: inline-block;
	width: 340px;
	
}

.restaurant .address{
	display: inline-block;
	width: 230px;
}


.restaurant_info{
	display: inline-block;
	float: right;
}

.restaurant_info li {
	display: inline-block;
	width: 55px;
	
	text-align: center;	
}


.restaurant_info{
	font-size: 9pt;	
}


.low { background-color: #B3FF66; }
.low div:nth-child(2n) { background-color: #73E600; }

.moderate { background-color: #FFFF66; }
.moderate div:nth-child(2n) { background-color: #E6E600; }

.critical{ background-color: #FFB366; }
.critical div:nth-child(2n) { background-color: #FF8C1A; }

.starset{
	display: inline-block;
	width: 110px;
}





/* RESTAURANT VIEW */

#view_content{
	padding: 10px;
}

#view_left{
	width: 600px;
	float:left;
}


#view_right{
	float: right;
}

#view_comments{
	clear: both;
}


#view_name{
	padding: 5px 30px;
	margin-bottom: 15px;
	font-size: 15pt;
}

.view_heading{
	font-size: 15pt;
	font-weight: bold;
	margin: 15px 15px  0 0
}

.health_report{
	
}

.report_items{
	padding: 10px;
}

.report_items p{
	padding: 10px;
	font-size: 10pt;
	font-weight: normal;
}

.report_item_c{
	font-weight: bold;
	margin-bottom: 10px;
}

.report_item{
	margin-bottom: 10px;
}


#view_actions{
	margin-bottom: 15px;
}

#view_actions a{
	text-decoration: none;
	font-size: 11pt;
}

#view_report_list{
	padding-top: 6px;
	margin-left: 10px;
}

#view_report_list li{
	margin-bottom: 6px;
}

#favey_link{
	margin-top: 15px;
	margin-bottom: 8px;
}

#favey_link a{
	color: black;
	font-size: 11pt !important;
}

#favey_link a:before{
	padding-right: 6px;
	content: url("/cs215/static/SHIRPI/images/heart_add.png")
}

#starset_view{
	float: right;
}



/* COMMENTS */

#view_comments{
	padding-top: 20px;
}

#comments{
	margin: 30px 10px;
	clear: both;
}

#comments h1{
	font-size: 15pt;
	margin-bottom: 20px;
}

.comment {
	clear: both;
	background-color: #fefefe;
	border: 1px solid black;
	height: 150px;
	
	padding: 10px;
}

.comment .timestamp{
	float: right;
	font-size: 11pt;
}

textarea{
	width: 100%;
}

.comment_body {
	width: 670px;
	height: 100px;
	float: right;
	padding: 10px;
	border-left: 1px solid black;

}

.comment_header .username{
	font-size: 14pt;
	
}
.comment_attributes {
	width: 220px;
	float: left;
	
	margin-top: 20px;
}

.comment_attributes h4{
	
	float: left;
	width: 100px;
	clear: both;
	
}

.comment_attributes ul{
	width: 120px;
	float: right;
	
	margin-bottom: 10px;
}

.comment_overall{
	font-weight: bold;
}

#comment_form{
	margin: auto;
	width: 700px;
	padding: 20px;
	border: 1px solid black;	
}

#comment_form textarea
{
	float: right;
	width: 600px;
}



/* FORMS */


#registration_form, #login_form
{
        margin: auto;
	width: 300px;
	padding: 20px;
	border: 1px solid black;
}

#registration_form input, #login_form input
{
	float: right;
	clear: right;
	
	margin-bottom: 10px;
}

#login_form label{
	float: left;
	clear: left;
	
	margin-bottom: 10px;
}

#registration_form p, #login_form p, #registration_form button, #login_form button 
{
	margin-bottom: 5px;
	clear: both;
}

#registration_form recaptcha_widget_div{
	margin-top: 20px;
	clear: both;
}


/* FAVOURITES */

.favourites{
	padding: 10px;
	clear: both;
}

.favourites #favourite *{
	display: inline;
	margin-right: 10px;
}

.favourites h1{
	font-weight: bold;
	margin-bottom: 9px;
}



/* ABOUT */

#about{
	padding: 15px;
}

#about h1{
	font-size: 15pt;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

#about h2{
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 9px;
	margin-top: 20px;
}

#about p{
	margin-left: 15px;
	margin-bottom: 10px;
}

#about_disclaimer{
	padding: 10px;
}

#about strong{
	display: block;
	width: 530px;
	margin: auto;
	text-align: center;
	font-weight: bold
}
	
#about span .example{
	font-size: 10pt;
}

#admin{
	padding-left: 30px;
}


/* OTHER */

#map_canvas{
	min-width: 310px;
	min-height: 400px;
}



.astar{
	width: 17px;
	height: 15px;
	display: inline-block;
	
	margin-right: 4px;
	
	background: url('/cs215/static/SHIRPI/images/star_1.0.png') no-repeat;
}


.ahalfstar{
	background: url('/cs215/static/SHIRPI/images/star_0.5.png') !important
}



