{% extends "base.html" %}
{% block content %}
{% load browse_extras %}
{% if Critical %}
	{{ Critical|display_restaurant_set:"critical" }}
{% endif %}
<br />
{%if Moderate %}
	{{ Moderate|display_restaurant_set:"moderate" }}
{% endif %}
<br />
{% if Low %}
	{{ Low|display_restaurant_set:"low" }}
{% endif %}
<br />
{% if rest and rest.visible%}
	<h1>{{rest.name}}</h1>
	{{ comments|display_comment_set:user.username }}
	<p><a href="/cs215/hello/comment/{{ rest.name }}/{{rest.street_address}}">Comment on {{ rest.name }}</a></p>
	{% for report in reps %}
	Report Date: {{report.date}}
	<ul>
	{% for item in report.items.all %}
	<li>{{item.description}}</li>	
	{% endfor %}
	</ul>
	{% endfor %}
{% endif %}
{% if not Critical and not Moderate and not Low and not rest %}
	<!-- does not exist -->
	<h1>{{ error }}</h1>
{% endif %}
{% endblock %}
