<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=iso-8859-1" /> 
	<title>CS215 Project</title>
	<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>general header h2</h2>
		</div>
		<div id="userinfo">
				<p>user info p</p>
		</div>
		<div class="clear"></div>
		<div id="navbar">
				<h3>navbar h3</h3>
		</div>
		<div id="content">
			<a href="./templates/hello/style.css">style</a>
			<h1>content h1</h1>
			<h2>content h2</h2>
			<h3>content h3</h3>
			<h4>content h4</h4>
			<h5>content h5</h5>
			<h6>content h6</h6>
		</div>
		<div id="footer">
			<h5>footer h5</h5>
		</div>
	</div>
</body>
</html>
