body{
	padding: 2px;
}
h1{
	font-size: 24px;
	text-align: center;
}
h2{
	font-size: 22px;
	text-decoration: underline;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
p {
	font-size: 12px;
}
#wrapper{
	width: 100%;
	background: #BBCCAA;
	border-width: 2px;
	border-style: solid;
}
#header{
	float: left;
	width: 89%;
	border-width: 1px;
	border-style: dashed;
}
#navbar{
	width: 100%;
	border-width: 1px;
	border-style: dashed;
}
#userinfo{
	width: 10%;
	float: right;
	border-width: 1px;
	border-style: dashed;
}
#content{
	border-width: 1px;
	width: 75%;
	background: #CCBBAA;
	margin: 20px auto 10px auto;
	border-style: dashed;
}
#footer{
	text-align: center;
	width: 75%;
	margin: 10px auto 20px auto;
	border-width: 1px;
	border-style: dashed;
}
.clear{
	clear: both;
}
